/* General styles for all menus */
.cbp-spmenu {
	background: #2c3f52;
	position: fixed;
}

.cbp-spmenu h3 {
	color: #afdefa;
	font-size: 1.9em;
	padding: 20px;
	margin: 0;
	font-weight: 300;
	background: #0d77b6;
}

.cbp-spmenu a {
	display: block;
	color: #fff;
	font-size: 1.1em;
	font-weight: 300;
}

/*remove*/
.cbp-spmenu a:hover {
	background: #258ecd;
}

/* Orientation-dependent styles for the content of the menu */

.cbp-spmenu-vertical {
	width: 250px;
	height: 100%;
	top: 0;
	z-index: 1000;
}

.cbp-spmenu-vertical a {
	border-bottom: 1px solid #258ecd;
	padding: 1em;
}

/* Vertical menu that slides from the left or right */

.cbp-spmenu-right {
	right: -250px;
}

.cbp-spmenu-right.cbp-spmenu-open {
	right: 0px;
}


/* Transitions */

.cbp-spmenu{
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
